<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhz.doctorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DoctorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Doctor App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".activities.SignUpActivity"></activity>
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.MedicalHistoryActivity" />
        <activity android:name=".activities.SpecialityQuestionsActivity" />
        <activity
            android:name=".activities.MedicineListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.PatientInfoActivity" />
        <activity android:name=".activities.HomeActivity"></activity>
    </application>

</manifest>